body {
  margin: 0;
  max-width: 50rem;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  padding-bottom: 2rem;
}

h1,
strong {
  color: #333;
}

a {
  color: #c75a00;
}

h1, #name-container, #scoreboard-container {
  margin-left: 4rem;
}